@import './base.scss';


/* Login Banner */

.banner {
  display: flex;
  display: none; //temp
  border: #232748 1px hidden;
  color: #e7f5ff;
  width: 500px;
  position: absolute;
  top: 20%;
  left: calc(400px + 20%);
  @media(max-width: 930px) {
    display: none;
  }
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  font-family: $font-secondary;
  font-size: 3rem;
  margin-bottom: 28px;
  text-transform: uppercase;
  border-top: 7px solid #232748;
  border-bottom: 7px solid #232748;
}

.arrow {
  font-size: 40px;
  margin-bottom: 20px;
  animation: anim 3s infinite;
}

.banner-btn {
  width: 200px;
  padding: 15px;
  font-family: $font-secondary;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: transparent;
  color: #fff;
  //border-radius: 50px;
  border: 2px solid #d8eeff;
  outline: none;
  cursor: pointer;
  transition: transform .3s;
  &:hover {
    transform: translateY(-1px);
  }
}

@keyframes anim {
  0% { transform: translateY(0)}
  20% { transform: translateY(0)}
  40% { transform: translateY(-5px)}
  50% { transform: translateY(0)}
  60% { transform: translateY(-10px)}
  80% { transform: translateY(0)}
  100% { transform: translateY(0)}

}




/* Login */

.login-box {
  height: 100vh;
  opacity: 0.95;
  margin-left: 30px;
  background-color: #232748;
  width: 400px;
  display: flex;
  justify-content: center;
  .input-field {
    font-size: 1.5rem;
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1.5em;
    padding: 0 16px;
    width: 235px;
    height: 50px;
  }
  @media (max-width: 375px) {
    margin-left: 0;
  }
}

.login-inputs {
  margin-top: 100px;
}

.field-group {
  position: relative;
  margin: 7px 0 10px 5px;
  margin: 20px 0;
  transition: 0.3s ease all;
  padding: 25px 0;

  input:focus + .fg-label {
    top: -25px;
    left: 4px;
    font-size: 1.1rem;
    color: white;
  }

  input + .filled {
    top: -25px;
    left: 4px;
    font-size: 1.1rem;
    color: white;
  }

  .fg-label {
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 1.1rem;
    pointer-events: none;
    transition: 0.3s ease all;
    color: white;
  }
}

.center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.new-account-text-container {
  display: none;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: white;
  margin-top: 50px;
  a {
    color: yellow;
  }
  @media(max-width: 930px) {
    display: block;
  }
}

.error-container {
  position: absolute;
  top: 0;
  font-size: 1.1rem;
  top: -20px;
  color: yellow;
}

.error-submit-container {
  padding-top: 12px;
  font-size: 1.2rem;
  color: #ff725e;
}

.loading-container {
  color: #17ff0e;
  font-size: 1.1rem;
}

.credentials-container {
  position: absolute;
  top: 0;
}
